.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 8rem; */
}

.loaderIcon {
  font-size: 3.5rem;
  color: #2c2;
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
