.homeSection {
  padding: 0 4rem;
  padding-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.aboutService {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.aboutService p {
  color: goldenrod;
  font-weight: bold;
}
.delivery img {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
  display: flex;
}

.firstConta {
  align-self: center;
}

.firstConta h3 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.city {
  color: #e80013;
  font-size: 3.5rem;
}

.aboutMessage {
  line-height: 1.3;
  letter-spacing: 0.3px;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.homeButton {
  margin-top: 2.5rem;
}

.homeButton button {
  background-color: #e80013;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 10px 4rem;
  border-radius: 10px;
}

.homeButton button:hover {
  background-color: #ab0614;
}

.city {
  color: #e80013;
  font-size: 2.7rem;
}

.secondConta {
  width: 100%;
  position: relative;
}

.hero {
  width: 100%;
  margin-top: 2rem;
}

.hero img {
  width: 100%;
  height: 550px;
  object-fit: contain;
}

.heroInfo,
.heroInfo2,
.heroInfo3 {
  position: absolute;
  top: 30%;
  left: 16%;
  background-color: rgba(247, 247, 241, 0.6);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
}

.heroInfo2 {
  top: 10%;
  left: 66%;
}

.heroInfo3 {
  top: 65%;
  left: 55%;
}

.heroInfo img,
.heroInfo2 img,
.heroInfo3 img {
  width: 5rem;
}

.heroInfo h4,
.heroInfo2 h4,
.heroInfo3 h4 {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.heroInfo p,
.heroInfo2 p,
.heroInfo3 p {
  font-size: 0.8rem;
  opacity: 0.8;
}

.heroInfo h5,
.heroInfo2 h5,
.heroInfo3 h5 {
  margin-top: 1rem;
}

.heroInfo h5 span,
.heroInfo2 h5 span,
.heroInfo3 h5 span {
  color: #e80013;
}

.heroInfo:hover,
.heroInfo2:hover,
.heroInfo3:hover {
  scale: 0.95;
}

@media (max-width: 768px) {
  .homeSection {
    grid-template-columns: 1fr;
    gap: 0.2rem;
  }

  .aboutMessage {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  .homeButton {
    text-align: center;
    margin: auto;
    margin-top: 2.5rem;
  }

  .homeButton button:hover {
    transform: scale(1.03);
  }

  .hero img {
    height: 433px;
    object-fit: unset;
  }
}

@media (max-width: 620px) {
  .homeSection {
    padding: 0 1rem;
    padding-top: 8rem;
  }

  .firstConta h3 {
    font-size: 2.4rem;
  }

  .homeButton button {
    width: 100%;
  }

  .firstConta h3 {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .city {
    color: #e80013;
    font-size: 2.5rem;
  }

  .hero img {
    height: 433px;
    object-fit: unset;
  }
}

@media (max-width: 540px) {
  .heroInfo2 {
    top: 12%;
    left: 45%;
  }
}

@media (max-width: 920px) {
  .heroInfo {
    top: 55%;
    left: 2%;
  }

  .heroInfo3 {
    display: none;
  }
}
